:host {
    border-color: tomato;
    border-radius: 10px;
    display: flex;
}
.error {
    border-style: solid;
    border-color: blue;
    border-radius: 5%;
}
.error__icon {
    width: 5%;
    height: 5%;
}